/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Glitch&display=swap'); */

/* font-family: 'Press Start 2P', system-ui; font-family: 'Rubik Glitch', system-ui; */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
    border: none;
    /* font-family: 'Press Start 2P'; */
}